<div class="content-container">
    <div class="hero">
        <div class="inner">
            <h1>Threads</h1>
            <p>Simple open source comments API, with no API keys, and almost no limits</p>
            <p><a href="/api" routerLink="/api">API</a> // <a href="/login/new" routerLink="/login/new">Login</a> // <a href="/signup" routerLink="/signup">Signup</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">Central Account System</div>
                <div class="card-block">
                    No matter where Threads is being used, you only need to signup once, and you can comment everywhere.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">Free</div>
                <div class="card-block">
                    Threads is free for everyone, but only if its used for non commerical purposes. Threads for buisness coming soon.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">Minimal Configuration</div>
                <div class="card-block">
                    All you have to do is signup, verify your domain and include a JavaScript file on your domain.
                </div>
            </div>
        </div>
    </div>
    <div class="c2a">
        <div class="inner">
            <h3>There&rsquo;s nothing more to say.</h3>
            <p>Try out Threads now: <a href="/signup" routerLink="/signup">Signup</a></p>
        </div>
    </div>
</div>