.login-wrapper {
    .login {
        .title {
            h1 {
                font-weight: 600;
            }
            h5 {
                margin: 0;
            }
        }
        .login-group {
            padding: 1rem 0 0 0;
            .form-group {
                padding-left: 0;
                flex-flow: column wrap;
                p {
                    margin-top: 0;
                }
                label {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}