<div class="content-container">
    <div class="hero">
        <div class="inner">
            <h1>Open Source</h1>
            <p>All of Threads is completely open sourced on <a href="https://github.com/goknsh/threads" target="_blank">GitHub</a> and runs on free hosting</p>
            <p><a href="https://www.patreon.com/goknsh" target="_blank">Donate</a> // <a href="https://github.com/goknsh/threads" target="_blank">GitHub</a> // <a href="/login" routerLink="/login">Login</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">PHP & MySQL</div>
                <div class="card-block">
                    Threads requires PHP and MySQL on your servers, making it hostable pretty much anywhere.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">Easy Setup</div>
                <div class="card-block">
                    Just place two files on your server, setup a MySQL server, and you&rsquo;re good to go.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">Comes with UI</div>
                <div class="card-block">
                    See this UI right now? Your can set that up too, making it easy to interact with your self-hosted API.
                </div>
            </div>
        </div>
    </div>
    <div class="c2a">
        <div class="inner">
            <h3>There&rsquo;s nothing more to say.</h3>
            <p>Host Threads on your own servers with the <a href="https://github.com/goknsh/threads#self-hosting" target="_blank">help of our docs</a></p>
        </div>
    </div>
</div>