<div class="login-wrapper">
    <form [formGroup]="login" [hidden]="!loginDisplay" (ngSubmit)="loginUser(login.value)" class="login">
        <label class="title">
            <h1>Login to Threads</h1>
            <h5 class="hint">Use your email and password to login in or create an account now</h5>
        </label>
        <div class="login-group">
            <div class="form-group">
                <p>Email</p>
                <label for="email"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-sm"
                        [class.invalid]="login.get('email').invalid
                            && (login.get('email').dirty ||
                            login.get('email').touched)">
                    <input id="email" spellcheck="false" type="email" placeholder="jason@threads.ml" formControlName="email">
                    <span class="tooltip-content">
                        The field is empty or the email is invalid.
                    </span>
                </label>
            </div>
            
            <div class="form-group">
                <p>Password</p>
                <label for="password"
                        aria-haspopup="true"
                        role="tooltip"
                        class="tooltip tooltip-validation tooltip-sm"
                        [class.invalid]="login.get('password').invalid
                            && (login.get('password').dirty ||
                            login.get('password').touched)">
                    <input id="password" type="password" placeholder="No one will know." formControlName="password">
                    <span class="tooltip-content">
                        Password is required.
                    </span>
                </label>
            </div>
            
            <div class="error {{errorDisplay}}">
                {{ errorMsg }}
            </div>
            
            <button type="submit" [disabled]="login.invalid" class="btn btn-primary">{{ loginstatus }}</button>
            <a href="/signup" routerLink="/signup" class="signup">Sign up</a>
        </div>
    </form>
    
    <form [hidden]="!verifyDisplay" class="login verify">
        <div class="login-group">
            <h1>Thanks for signing up!</h1>
            <p>We&rsquo;ve sent you an email to confirm your identity. Please open the email and click on the &ldquo;Verify Email&rdquo; link so we can get you set up.</p>
        </div>
    </form>
    
    <form [hidden]="!unverifiedDisplay" class="login verify">
        <div class="login-group">
            <h1>There&rsquo;s a problem</h1>
            <p>We&rsquo;ve sent you an email to confirm your identity, but you haven&rsquo;t confirmed your email yet, so we won&rsquo;t let you login. Please open the email and click on the &ldquo;Verify Email&rdquo; link so we can finish getting you set up.</p>
        </div>
    </form>
    
    <form [hidden]="!lastStepDisplay" class="login verify">
        <div class="login-group">
            <h1>{{ verifyEmailStatus }}</h1>
        </div>
    </form>
</div>