.content-container {
    width: 100%;
    display: block;
    max-width: 560px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
    .hero {
        height: 88vh;
        min-height: 400px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
            width: 100%;
            h1, p {
                margin: 0;
            }
            h1 {
                font-weight: 600;
            }
            p {
                &:last-of-type {
                    margin-top: .5rem;
                }
            }
        }
    }
}