<div class="content-container">
    <div class="hero">
        <div class="inner">
            <h1>404; not found</h1>
            <p>We didn&rsquo;t find &ldquo;{{ currentURL }}&rdquo; our servers. Sorry. Check if the URL you entered is correct and has no typos. If you know there is supposed to be something here, please email <a href="mailto:threads@akaanksh.ga">threads@akaanksh.ga</a></p>
            <p><a href="/api" routerLink="/api">API</a> // <a href="/login/new" routerLink="/login/new">Login</a> // <a href="/signup" routerLink="/signup">Signup</a></p>
        </div>
    </div>
</div>