<clr-main-container>
  <clr-header class="header-5">
    <div class="branding">
      <a href="/" routerLink="/" class="nav-link">
        <span class="title">Threads</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" href="/api" routerLink="/api" routerLinkActive="active"><span class="nav-text">API</span></a>
      <a class="nav-link" href="/oss" routerLink="/oss" routerLinkActive="active"><span class="nav-text">Open Source</span></a>
      <a class="nav-link" href="/cdn/js/v1/demo"><span class="nav-text">Live Demo</span></a>
      <a class="nav-link" [hidden]="loggedIn" href="/login/new" routerLink="/login/new" routerLinkActive="active"><span class="nav-text">Login</span></a>
      <a class="nav-link" [hidden]="loggedIn" href="/signup" routerLink="/signup" routerLinkActive="active"><span class="nav-text">Signup</span></a>
    </div>
    <div class="header-actions">
      <clr-dropdown [hidden]="!loggedIn">
        <button class="nav-text" clrDropdownTrigger>
          {{name}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="/domains/overview" routerLink="/domains/overview" clrDropdownItem>Your Domains</a>
          <a href="/comments/overview" routerLink="/comments/overview" clrDropdownItem>Your Comments</a>
          <a href="/domains/add" routerLink="/domains/add" clrDropdownItem>Add Domain</a>
          <a href="/logout" routerLink="/logout" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
