<div class="content-container">
    
    <div class="overview" [hidden]="!overviewDisp">
        <h1>Your Domains<a routerLink="/domains/add" class="btn btn-link btn-icon"><clr-icon shape="add" size="22"></clr-icon></a><a class="btn btn-link btn-icon" (click)="overview()"><clr-icon shape="refresh"></clr-icon></a></h1>
        <div class="alert alert-success" [hidden]="!alertCenterSuccess">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                    </div>
                    <span class="alert-text">{{alertSuccessText}}</span>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" [hidden]="!alertCenterDanger">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">{{alertDangerText}}</span>
                </div>
            </div>
        </div>
        <div class="loading" [hidden]="!overviewLoading">
            <span class="spinner spinner-inline">Loading...</span>
            <span>Loading...</span>
        </div>
        <div class="domains">
            <div class="domain" [hidden]="!overviewEmpty" routerLink="/domains/add">
                <h3>Nothing yet. Click to add a domain</h3>
            </div>
            <div class="domain" *ngFor="let item of overviewData; let i = index" [attr.data-index]="i">
                <div class="left">
                    <h3><a href="/domains/{{item['domain']}}" routerLink="/domains/{{item['domain']}}">{{ item["name"].split(";")[0] }}</a></h3>
                    <p class="status-{{item['status']}}">Hash: {{ item["name"].split(";")[1] }}</p>
                    <p><a href="//{{ item['domain'] }}" target="_blank">{{ item["domain"] }}</a></p>
                </div>
                <div class="right">
                    <a class="span icon" href="/domains/{{item['domain']}}" routerLink="/domains/{{item['domain']}}">
                        <clr-icon shape="talk-bubbles" class="is-normal is-solid" size="20"></clr-icon>
                        <span>{{ item['count'] }}</span>
                    </a>
                    <div class="icon status-{{item['status']}}">
                        <a class="span" href="/domains/{{item['domain']}}" routerLink="/domains/{{item['domain']}}" role="tooltip" aria-haspopup="true" class="is-success tooltip tooltip-md tooltip-left">
                            <clr-icon shape="check-circle" class="is-success is-solid" size="38"></clr-icon>
                            <span class="tooltip-content">You have verified your domain and everything is working</span>
                        </a>
                        <span role="tooltip" aria-haspopup="true" class="is-warning tooltip tooltip-md tooltip-left">
                            <clr-icon shape="exclamation-circle" class="is-warning is-solid" size="38"></clr-icon>
                            <span class="tooltip-content">You still haven&rsquo;t verified your domain. You can do this by going to Add domain and re-adding this domain.</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="domain-info" [hidden]="!domainInfoDisp">
        <h1><a class="btn btn-link btn-icon" href="/domains/overview" routerLink="/domains/overview" style="color:black"><clr-icon shape="arrow" dir="left" size="28"></clr-icon></a>Pages in <a href="//{{domain}}" target="_blank">{{domain}}</a><a class="btn btn-link btn-icon" (click)="domainInfo(domain)"><clr-icon shape="refresh"></clr-icon></a></h1>
        <div class="alert alert-success" [hidden]="!alertCenterSuccess">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                    </div>
                    <span class="alert-text">{{alertSuccessText}}</span>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" [hidden]="!alertCenterDanger">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">{{alertDangerText}}</span>
                </div>
            </div>
        </div>
        <div class="loading" [hidden]="!domainInfoLoading">
            <span class="spinner spinner-inline">Loading...</span>
            <span>Loading...</span>
        </div>
        <div class="domains">
            <div class="domain" [hidden]="!domainInfoEmpty">
                <h3>Nothing yet. <a href="https://github.com/itsmadebyark/threads#adding-threads-to-your-domain" target="_blank">Include our files</a> on your domain. Once someone comments, it&rsquo;ll appear here.</h3>
            </div>
            <div class="domain" *ngFor="let item of domainInfoData; let i = index" [attr.data-index]="i">
                <div class="left">
                    <h3><a href="//{{domain}}{{item['url']}}#thread-comments" target="_blank">{{ item["url"] }}</a></h3>
                </div>
                <div class="right">
                    <div class="icon">
                        <clr-icon shape="talk-bubbles" class="is-normal is-solid" size="20"></clr-icon>
                        <span>{{ item['count'] }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="add" [hidden]="!addDisp">
        <div class="login-wrapper">
            <form [formGroup]="add" (ngSubmit)="addDomain(add.value)" class="login">
                <label class="title">
                    <h1>Add Domain</h1>
                    <h5 class="hint">Add a new domain that you can use Threads on</h5>
                </label>
                <div class="login-group">
                    <div class="form-group">
                        <p>Name</p>
                        <label for="name"
                                aria-haspopup="true"
                                role="tooltip"
                                class="tooltip tooltip-validation tooltip-sm"
                                [class.invalid]="add.get('name').invalid
                                    && (add.get('name').dirty ||
                                    add.get('name').touched)">
                            <input id="name" spellcheck="false" type="text" placeholder="Threads" formControlName="name">
                            <span class="tooltip-content">
                                A name is required.
                            </span>
                        </label>
                    </div>
                    
                    <div class="form-group">
                        <p>Domain</p>
                        <label for="url"
                                aria-haspopup="true"
                                role="tooltip"
                                class="tooltip tooltip-validation tooltip-sm"
                                [class.invalid]="add.get('url').invalid
                                    && (add.get('url').dirty ||
                                    add.get('url').touched)">
                            <input id="url" spellcheck="false" type="url" placeholder="https://threads.ml/" formControlName="url">
                            <span class="tooltip-content">
                                The field is empty or the URL is invalid.
                            </span>
                        </label>
                    </div>
                    
                    <div class="error {{errorDisplay}}">
                        {{ errorMsg }}
                    </div>
                    
                    <button type="submit" [disabled]="add.invalid" class="btn btn-primary">{{ addDomainStatus }}</button>
                    <a href="/domains/overview" routerLink="/domains/overview" class="signup">Return to Dashboard</a>
                </div>
            </form>
        </div>
    </div>
    <div class="verify" [hidden]="!verifyDisp">
        <div class="login-wrapper">
            <form class="login">
                <label class="title">
                    <h1>Verify Domain</h1>
                    <h5 class="hint">Add a TXT record to your domain to verify you own it</h5>
                </label>
                <div class="login-group">
                    Add &ldquo;{{ addDomainHash }}&rdquo; as a TXT record to {{ addDomainSite }}
                    
                    <div class="error {{errorTXTDisplay}}">
                        {{ errorTXTMsg }}
                    </div>
                    
                    <button type="submit" class="btn btn-primary" (click)="checkTXTRecord()">{{ txtStatus }}</button>
                    <a href="/domains/overview" routerLink="/domains/overview" class="signup">Return to Dashboard</a>
                </div>
            </form>
        </div>
    </div>
    
    <div class="not-found" [hidden]="!notFound">
        <div class="not-found">
            <div class="hero">
                <div class="inner">
                    <h1>404; not found</h1>
                    <p>We didn&rsquo;t find &ldquo;{{ currentURL }}&rdquo; our servers. Sorry. Check if the URL you entered is correct and has no typos. If you know there is supposed to be something here, please email <a href="mailto:threads@akaanksh.ga">threads@akaanksh.ga</a></p>
                    <p><a href="/api" routerLink="/api">API</a> // <a href="/login/new" routerLink="/login/new">Login</a> // <a href="/signup" routerLink="/signup">Signup</a></p>
                </div>
            </div>
        </div>
    </div>
</div>