* {
    font-family: "Airbnb Cereal App" !important;
    letter-spacing: 0 !important;
    font-weight: 400;
    outline: none !important;
}

.main-container .content-container .content-area {
    padding: 0 !important;
}